[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
djangorestframework-yaml = "*"
uritemplate = "*"
six = "*"

[requires]
python_version = "3.7"
